@charset "utf-8";
/* CSS Document */
table{
	border:solid 1px #999;
	border-spacing:0;
	border-collapse:collapse;
	}
tbody tr:first-child,
tr td:first-child{
	background-color:#eaebec;
}

td{
	border:solid 1px #ccc;
	height:40px;
	line-height:40px;
	text-align:center;
	width:40px;
}

